<!DOCTYPE html>

<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
    type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
  <style>



  </style>

</head>

<body>

  <!--slider-->
  <div id="slider">
    <figure>
      <img src="/assets/img/slider1.jpg">
      <img src="/assets/img/slider3.jpg">
      <img src="/assets/img/slider4.jpg">
    </figure>
  </div>

  <div class="product-big-title-area">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>


  <div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="single-shop-product">
            <div class="product1 ">
              <img src="assets/img/product-1.jpg" alt="">
              <h4><b><a href="">Samsung Galaxy M31</a></b></h4>
              <p>(Ocean Blue,128GB Storage)</p>
              <b>
                <p>₹16,999</p>
              </b>
              <a href="cart"><button class="button button1">Add to cart</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-shop-product">
            <div class="product1 ">
              <img src="assets/img/product-2.jpg" alt="">
              <h4><b><a href="">Nokia 5.3</a></b></h4>
              <p>(Jet black,64GB Storage)</p>
              <b>
                <p>₹11,998</p>
              </b>
              <a href="cart"><button class="button button1">Add to cart</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-shop-product">
            <div class="product1 ">
              <img src="assets/img/product-5.jpg" alt="">
              <h4><b><a href="">Apple iPhone 7</a></b></h4>
              <p>(Rose Gold,32GB Storage)</p>
              <b>
                <p>₹29,500</p>
              </b>
              <a href="cart"><button class="button button1">Add to cart</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-shop-product">
            <div class="product1 ">
              <img src="assets/img/product-5.jpg" alt="">
              <h4><b><a href="">Apple iPhone 7</a></b></h4>
              <p>(Gold,32GB Storage)</p>
              <b>
                <p>₹27,999</p>
              </b>
              <a href="cart"><button class="button button1">Add to cart</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Display Products-->
  <!-- 
<div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product1 ">
                        <img src="assets/img/product-2.jpg" alt="">
                              <p class="thicker">{{ productItem.name }}</p>
                              <br>
                              <p class="thicker">{{ productItem.price | currency:'INR' }}</p>
                            <p class="light">{{ productItem.description | slice: 0:80 }}...</p>
                            <div class="d-flex justify-content-between align-items-center">
                        <button type="button" class="button button1" (click)="handleAddToCart()">Add to Cart</button>
                        </div>
                    </div>
                </div>  
        </div>
           
    </div>
</div> -->





</body>

</html>